<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Título Original</th>
      <th scope="col">Descrição</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let filme of filmes; let index = index">
      <th scope="row">{{filme.id}}</th>
      <td>{{filme.title}}</td>
      <td>{{filme.original_title}}</td>
      <td>{{filme.overview}}</td>
    </tr>
  </tbody>
</table>


<router-outlet></router-outlet>
